    <div class="bg-light text-center pt-5" style="height: 100vh;">
        <div class="container">
            <h1 class="display-1 pt-5 font-weight-bold">404</h1>
            <h1 class="display-4 pt-1 pb-3">Página no encontrada</h1>
            <h3 class="font-weight-light text-secondary">{{message}}</h3>
            <a href="{{redirect}}" class="button-ef mt-3">Regresar a la tienda</a>
        </div>
    </div>
